.devcontainer
.git
.github
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.vscode
__pycache__
*.egg-info
*.log
*.py[cod]
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
.coverage
.env
.dev
build
dist
htmlcov
node_modules
runtime/node_modules
runtime/dist
docs
plan
